body{
	background: linear-gradient(#003973  ,#E5E5BE ) fixed;
}

header{
	font-family: 'Helvetica', 'Arial';
	font-size: 2em;
	color: #FFF;
	text-align: center;
}

form{
	display: flex;
	flex-direction: row;
	justify-content: center;
	

}

.inputs {
	font-family: 'Helvetica', "Arial";
	font-size: 1.2em; 
	color: #FFF;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
}

.u1 {
	padding-right: 5em;
}
